__pycache__/
*.pyc
*.pyo
.env
venv/
env/
*.egg-info/
dist/
build/
.idea/
.vscode/
*.log
node_modules/
*.fits
*.fits.gz
*.lc.gz
*.gz
*.csv
*.pkl
*.npy
*.npz
*.pt
*.pth
*.h5
*.zip
.DS_Store
Thumbs.db

# Large data directories
Helios/
Solexs/
data/raw/
data/processed/
data/goes/
models/
plots/
extracted/
noaa/

# Colab files
JWALASHMI_colab_data.zip
JWALASHMI_Colab.ipynb

# Office & temporary files
~$*
*.pptx
*.ppt
*.pdf
*.docx

